.loader {
  border-top: 4px solid transparent;
  border-right: 4px solid transparent;
  border-bottom: 4px solid transparent;
  border-left: 4px solid #4299e1;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  animation: spin 0.8s linear infinite, changeColor 1.5s linear infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

@keyframes changeColor {
  0% {
    border-left: 4px solid #4299e1;
  }
  25% {
    border-left: 4px solid #38a169;
  }
  50% {
    border-left: 4px solid #f6e05e;
  }
  75% {
    border-left: 4px solid #ed64a6;
  }
  100% {
    border-left: 4px solid #4299e1;
  }
}
