<div class="w-screen h-screen bg-white sm:bg-gray-50 relative flex flex-col sm:flex-row">
    <div class="relative bg-white md:border w-full sm:w-7/12 md:w-6/12 lg:w-4/12 m-auto rounded-3xl">
        <div class="m-4">
            <header class="py-1 flex justify-center">
                <img src="assets\img\logo.png" class="h-12" alt="Systemvote">
            </header>
            <div class="py-4 px-4 md:px-9">
                <app-login-form></app-login-form>
            </div>
            <div
                class="flex justify-center items-center space-x-0 space-y-2 md:space-x-2 md:space-y-0 flex-col md:flex-row">
                <a href="auth/forgot-password" class="text-blue-600 cursor-pointer">¿Olvidaste tu contraseña?</a>
            </div>
            <hr class="my-4 border-b-1 border-r-gray-300" />
            <div
                class="flex justify-center items-center space-x-0 space-y-2 md:space-x-2 md:space-y-0 flex-col md:flex-row">
                <a href="auth/registrar" class="bg-greenface rounded-lg text-white cursor-pointer border px-4 py-2">Crear
                    cuenta
                    nueva</a>
            </div>
        </div>
    </div>
</div>