<div [@fadeInOut]="dialogAnimationState"
    class="fixed inset-0 z-50 flex items-center justify-center overflow-x-hidden overflow-y-auto outline-none focus:outline-none">
    <div class="relative w-full max-w-3xl mx-auto my-6">
        <div class="bg-white rounded-lg shadow-lg overflow-hidden">
            <div class="px-6 py-3 border-b">
                <label class="text-lg font-medium">Histórico</label>
                <button (click)="close()" class="absolute top-0 right-0 p-2">
                    <mat-icon>close</mat-icon>
                </button>
            </div>
            <div *ngIf="tickets.length !== 0" class="h-80 overflow-y-auto border rounded-3xl m-2">
                <table class="min-w-full divide-y divide-gray-200">
                    <thead>
                        <tr>
                            <th
                                class="px-6 py-3 bg-gray-50 text-left text-xs leading-4 font-medium text-gray-500 uppercase tracking-wider">
                                Key
                            </th>
                            <th
                                class="px-6 py-3 bg-gray-50 text-left text-xs leading-4 font-medium text-gray-500 uppercase tracking-wider">
                                Nombre
                            </th>
                            <th
                                class="px-6 py-3 bg-gray-50 text-left text-xs leading-4 font-medium text-gray-500 uppercase tracking-wider">
                                Coeficiente</th>
                            <th
                                class="px-6 py-3 bg-gray-50 text-left text-xs leading-4 font-medium text-gray-500 uppercase tracking-wider">
                                Unidades</th>
                        </tr>
                    </thead>
                    <tbody class="bg-white divide-y divide-gray-200">
                        <tr *ngFor="let ticket of tickets">
                            <td class="px-6 py-4 whitespace-no-wrap">{{ticket.key1}} - {{ticket.key2}}
                            </td>
                            <td class="px-6 py-4 whitespace-no-wrap">{{ticket.accessPointUserName}}</td>
                            <td class="px-6 py-4 whitespace-no-wrap">{{(ticket.coefficient / 100) | percent: '1.2-3'}}</td>
                            <td class="px-6 py-4 whitespace-no-wrap">{{ticket.units}}</td>
                        </tr>
                    </tbody>
                </table>
                <div *ngIf="tickets.length === 0">
                    <app-no-data title="No hay información registrada"></app-no-data>
                </div>
            </div>
        </div>
    </div>
</div>