<div [@fadeInOut]="dialogAnimationState"
    class="fixed inset-0 z-50 flex items-center justify-center overflow-x-hidden overflow-y-auto outline-none focus:outline-none">
    <div class="relative w-full max-w-3xl mx-auto my-6">
        <div class="bg-white rounded-lg shadow-lg overflow-hidden">
            <div class="px-6 py-3 border-b">
                <label class="text-lg font-medium">Tickets</label>
                <button (click)="close()" class="absolute top-0 right-0 p-2">
                    <mat-icon>close</mat-icon>
                </button>
            </div>
            <div class="px-6 py-2 h-80 overflow-y-auto">
                <table *ngIf="tickets.length !== 0" class="min-w-full divide-y divide-gray-200">
                    <thead>
                        <tr>
                            <th
                                class="px-6 py-3 bg-gray-50 text-left text-xs leading-4 font-medium text-gray-500 uppercase tracking-wider">
                                Key
                            </th>
                            <th
                                class="px-6 py-3 bg-gray-50 text-left text-xs leading-4 font-medium text-gray-500 uppercase tracking-wider">
                                Descripción
                            </th>
                            <th
                                class="px-6 py-3 bg-gray-50 text-left text-xs leading-4 font-medium text-gray-500 uppercase tracking-wider">
                                Coeficiente</th>
                            <th
                                class="px-6 py-3 bg-gray-50 text-left text-xs leading-4 font-medium text-gray-500 uppercase tracking-wider">
                                Unidades</th>
                            <th
                                class="px-6 py-3 bg-gray-50 text-left text-xs leading-4 font-medium text-gray-500 uppercase tracking-wider">
                                Control</th>
                        </tr>
                    </thead>
                    <tbody class="bg-white divide-y divide-gray-200">
                        <tr *ngFor="let ticket of tickets">
                            <td class="px-6 py-4 whitespace-no-wrap">{{ticket.ticket.key1}} - {{ticket.ticket.key2}}
                            </td>
                            <td class="px-6 py-4 whitespace-no-wrap">{{ticket.ticket.description}}</td>
                            <td class="px-6 py-4 whitespace-no-wrap">{{ticket.ticket.coefficient}}</td>
                            <td class="px-6 py-4 whitespace-no-wrap">{{ticket.ticket.units}}</td>
                            <td class="px-6 py-4 whitespace-no-wrap">{{ticket.ticket.numControl}}</td>
                        </tr>
                    </tbody>
                </table>
                <div *ngIf="tickets.length === 0">
                    <app-no-data title="No se encuentran tickets registrados"></app-no-data>
                </div>
            </div>
        </div>
    </div>
</div>